header {
    .artGallery {
        .darkSide {
            width: 450px;
            height: 799px;
            flex-shrink: 0;
        }
        .artGalleryTitle{

        }

        .buttonHeader{
            
        }
    }
}