@import '../scss/root.scss';

* {
    margin: 0px;
    padding: 0px;
}

header {
    .artGallery {
        display: flex;
        position: relative;

        .darkSide {
            width: 450px;
            height: 799px;
            flex-shrink: 0;
            background-color: $almostblack;
        }

        .artGalleryTitle {
            position: absolute;
            top: 140px;
            left: 200px;
            width: 390px;
            color: $white;
            font-feature-settings: 'clig' off, 'liga' off;

            /* Heading (XL) */
            font-family: Big Shoulders Display;
            font-size: 96px;
            font-style: normal;
            font-weight: 900;
            line-height: 88px;
            /* 91.667% */
            text-transform: uppercase;
        }

        .buttonHeader {
            position: absolute;
            top: 250px;
            left: 900px;

            a {
                color: $white;
                text-decoration: none;
            }
        }

        .imgDivHeader {
            width: 540px;
            height: 800px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .svgBtn {
            position: absolute;
            top: 250px;
            left: 1052px
        }

        .headerParagraph {
            position: absolute;
            top: 100px;
            left: 900px;
            width: 350px;
            color: $darkgrey;
            font-feature-settings: 'clig' off, 'liga' off;

            /* Body (M) */
            font-family: Outfit;
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
            /* 145.455% */
        }
    }
}

main {
    .contaienr {
        .dayAtGallery {
            .firstLevel {
                .firstLevel-textSide {

                    .firstLevel-title {
                        width: 350px;
                        color: $almostblack;
                        font-feature-settings: 'clig' off, 'liga' off;

                        /* Heading (M) */
                        font-family: Big Shoulders Display;
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 60px;
                        /* 100% */
                        text-transform: uppercase;
                    }

                    .firstLevel-paragraph {
                        width: 350px;
                        color: $darkgrey;
                        font-feature-settings: 'clig' off, 'liga' off;

                        /* Body (M) */
                        font-family: Outfit;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 32px;
                        /* 145.455% */
                    }
                }
                
            }
        }
    }
}