@import '../scss/root.scss';

* {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0 50px 0 50px;
}

header {
    .artGallery {
        display: flex;
        position: relative;

        .darkSide {
            width: 450px;
            height: 799px;
            flex-shrink: 0;
            background-color: $almostblack;
        }

        .artGalleryTitle {
            position: absolute;
            top: 140px;
            left: 200px;
            width: 390px;
            color: $white;
            font-feature-settings: 'clig' off, 'liga' off;

            /* Heading (XL) */
            font-family: Big Shoulders Display;
            font-size: 96px;
            font-style: normal;
            font-weight: 900;
            line-height: 88px;
            /* 91.667% */
            text-transform: uppercase;
        }

        .buttonHeader {
            position: absolute;
            top: 250px;
            left: 900px;

            a {
                color: $white;
                text-decoration: none;
                position: absolute;
                top: 22px;
                left: 30px;
            }

            .svgBtn {
                position: absolute;
                // top: 250px;
                left: 150px
            }
        }

        .buttonHeader:hover {
            background-color: $gold !important;
            transition: .3s ease-in-out;

            .svgBtn {
                rect {
                    transition: .3s ease-in;
                    fill: $almostblack;
                }
            }
        }

        .imgDivHeader {
            width: 540px;
            height: 800px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }


        .headerParagraph {
            position: absolute;
            top: 100px;
            left: 900px;
            width: 350px;
            color: $darkgrey;
            font-feature-settings: 'clig' off, 'liga' off;

            /* Body (M) */
            font-family: Outfit;
            font-size: 22px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px;
            /* 145.455% */
        }
    }
}

main {

    // .contaienr {

    .dayAtGallery {
        margin-bottom: 150px;

        // background-color: aqua;
        .firstLevel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 150px;
            margin-bottom: 50px;

            .firstLevel-textSide {

                .firstLevel-title {
                    width: 350px;
                    color: $almostblack;
                    font-feature-settings: 'clig' off, 'liga' off;

                    /* Heading (M) */
                    font-family: Big Shoulders Display;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 60px;
                    /* 100% */
                    text-transform: uppercase;
                }

                .firstLevel-paragraph {
                    width: 350px;
                    color: $darkgrey;
                    font-feature-settings: 'clig' off, 'liga' off;
                    margin-top: 40px;

                    /* Body (M) */
                    font-family: Outfit;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 32px;
                    /* 145.455% */
                }
            }

        }

        .secondLevel {
            display: flex;
            justify-content: space-between;
            // align-items: center  ;

            .leftSidePhoto {
                width: 635px;
                height: 720px;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .rightSidePhoto {
                // padding: 60px;

                .photoLevel {
                    width: 445px;
                    height: 313px;
                    flex-shrink: 0;
                    margin-bottom: 65px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .textLevel {
                    width: 445px;
                    height: 343px;
                    flex-shrink: 0;
                    background-color: $almostblack;
                    text-align: left;

                    .textLevel-title {
                        width: 350px;
                        color: $white;
                        font-feature-settings: 'clig' off, 'liga' off;
                        padding-top: 70px;
                        padding-left: 50px;

                        /* Heading (M) */
                        font-family: Big Shoulders Display;
                        font-size: 60px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: 60px;
                        /* 100% */
                        text-transform: uppercase;
                    }

                    .textLevel-paragraph {
                        width: 350px;
                        color: $white;
                        font-feature-settings: 'clig' off, 'liga' off;
                        padding-top: 20px;
                        padding-left: 50px;

                        /* Body (M) */
                        font-family: Outfit;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 32px;
                        /* 145.455% */
                    }
                }
            }
        }
    }

    // }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 244px;
    flex-shrink: 0;
    background-color: $almostblack;

    .footerLogo {
        width: 159.572px;
        height: 58px;
        flex-shrink: 0;
    }

    .footerParag {
        width: 430px;
        flex-shrink: 0;
        color: $white;
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
        /* 155.556% */
    }

    .footerLinks {
        i {
            color: $white;
            padding: 5px;
            height: 20px;
            flex-shrink: 0;

            &:hover {
                transition: .3s ease;
                color: $gold !important;
            }
        }
    }
}