@media(min-width:820px) {
    header {
        .artGalery {
            .darkside {
                width: 0 !important;
            }

            .artGalleryTitle {
                top: 140px !important;
                left: 400px !important;
            }

            .buttonHeader {
                top: 500px !important;
                left: 400px !important;
            }

            .imgDivHeader {
                width: 437px;
                height: 700px;
                flex-shrink: 0;
            }

            .headerParagraph {
                top: 350px !important;
                left: 400px !important;
            }
        }
    }
}