@import './root.scss';


@media(max-width:823px) {

    header {
        // .container {

        .artGallery {
            .darkSide {
                width: 0 !important;
                height: 0 !important;
            }

            .artGalleryTitle {
                top: 140px !important;
                left: 400px !important;
                color: $almostblack;
            }

            .buttonHeader {
                top: 500px !important;
                left: 400px !important;
            }

            .imgDivHeader {
                width: 437px;
                height: 700px;
                flex-shrink: 0;
            }

            .headerParagraph {
                top: 350px !important;
                left: 400px !important;
            }
        }

        // }
    }

    main {
        .dayAtGallery {
            .firstLevel {
                .firstLevel-textSide {
                    .firstLevel-title {
                        width: 223px !important;
                    }

                    .firstLevel-paragraph {
                        width: 223px !important;
                    }
                }

                .firstLevel-photoSide {
                    width: 398px !important;
                    height: 400px !important;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .secondLevel {
                .leftSidePhoto {
                    width: 398px !important;
                    height: 720px !important;
                }

                .rightSidePhoto {
                    .photoLevel {
                        width: 280px !important;
                        height: 313px !important;

                        img {
                            object-fit: cover !important;
                        }
                    }

                    .textLevel {
                        width: 280px !important;
                        height: 345px !important;

                        .textLevel-title {
                            width: 223px !important;
                        }

                        .textLevel-paragraph {
                            width: 223px !important;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:376px) {
    header {
        .artGallery {
            .imgDivHeader {
                width: 375px;
                height: 240px;

                img {
                    object-fit: cover;
                }
            }
        }
    }

    main {
        margin-top: 410px;

        .container {
            .dayAtGallery {
                .firstLevel {
                    display: block;

                    .firstLevel-photoSide {
                        width: 100%;
                        height: 320px;

                        img {
                            object-fit: cover;
                        }
                    }
                }

                .secondLevel {
                    display: block;

                    .leftSidePhoto {
                        width: 100%;
                        height: 480px;
                    }

                    .rightSidePhoto {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}