.button1 {
  width: 153px;
  height: 72px;
  flex-shrink: 0;
  background-color: #151515;
}

@media (max-width: 823px) {
  header .artGallery .darkSide {
    width: 0 !important;
    height: 0 !important;
  }
  header .artGallery .artGalleryTitle {
    top: 140px !important;
    left: 400px !important;
    color: #151515;
  }
  header .artGallery .buttonHeader {
    top: 500px !important;
    left: 400px !important;
  }
  header .artGallery .imgDivHeader {
    width: 437px;
    height: 700px;
    flex-shrink: 0;
  }
  header .artGallery .headerParagraph {
    top: 350px !important;
    left: 400px !important;
  }
  main .dayAtGallery .firstLevel .firstLevel-textSide .firstLevel-title {
    width: 223px !important;
  }
  main .dayAtGallery .firstLevel .firstLevel-textSide .firstLevel-paragraph {
    width: 223px !important;
  }
  main .dayAtGallery .firstLevel .firstLevel-photoSide {
    width: 398px;
    height: 400px;
  }
  main .dayAtGallery .firstLevel .firstLevel-photoSide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main .dayAtGallery .secondLevel .leftSidePhoto {
    width: 398px !important;
    height: 720px !important;
  }
  main .dayAtGallery .secondLevel .rightSidePhoto .photoLevel {
    width: 280px !important;
    height: 313px !important;
  }
  main .dayAtGallery .secondLevel .rightSidePhoto .photoLevel img {
    object-fit: cover !important;
  }
  main .dayAtGallery .secondLevel .rightSidePhoto .textLevel {
    width: 280px !important;
    height: 345px !important;
  }
  main .dayAtGallery .secondLevel .rightSidePhoto .textLevel .textLevel-title {
    width: 223px !important;
  }
  main .dayAtGallery .secondLevel .rightSidePhoto .textLevel .textLevel-paragraph {
    width: 223px !important;
  }
}
@media (max-width: 376px) {
  header .artGallery .imgDivHeader {
    width: 335px;
    height: 240px;
  }
  header .artGallery .imgDivHeader img {
    object-fit: cover;
  }
  header .artGallery .artGalleryTitle {
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 55px;
    top: 270px !important;
    left: 35px !important;
  }
  header .artGallery .buttonHeader {
    top: 530px !important;
    left: 25px !important;
  }
  header .artGallery .buttonHeader a {
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 800;
    line-height: normal;
    /* letter-spacing: 3.636px;*/
  }
  header .artGallery .headerParagraph {
    font-size: 18px;
    top: 400px !important;
    left: 25px !important;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }
  main {
    margin-top: 410px;
  }
  main .container .dayAtGallery .firstLevel {
    display: block;
  }
  main .container .dayAtGallery .firstLevel .firstLevel-textSide .firstLevel-title {
    width: 100% !important;
  }
  main .container .dayAtGallery .firstLevel .firstLevel-textSide .firstLevel-paragraph {
    width: 100% !important;
  }
  main .container .dayAtGallery .firstLevel .firstLevel-photoSide {
    width: 100% !important;
    height: 210px !important;
  }
  main .container .dayAtGallery .firstLevel .firstLevel-photoSide img {
    object-fit: cover;
  }
  main .container .dayAtGallery .secondLevel {
    display: block;
  }
  main .container .dayAtGallery .secondLevel .leftSidePhoto {
    width: 100% !important;
    height: 480px !important;
  }
  main .container .dayAtGallery .secondLevel .rightSidePhoto {
    margin-top: 40px;
  }
  main .container .dayAtGallery .secondLevel .rightSidePhoto .photoLevel {
    width: 100% !important;
    height: 200px !important;
  }
  main .container .dayAtGallery .secondLevel .rightSidePhoto .textLevel {
    height: 350px !important;
    width: 100% !important;
  }
  main .container .dayAtGallery .secondLevel .rightSidePhoto .textLevel p {
    width: 177px !important;
    padding: 15px !important;
  }
}/*# sourceMappingURL=responsiveHome.css.map */